    .cardtxt {
    background-color: #393E46;
    padding: 13px;
    border-radius: 16px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
    h2 {
        color: white;
        margin-bottom: 10px;
    }
    
    p {
        color: white;
        margin-bottom: 12px;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-style: italic;
        font-weight: bold;
        
    }
    .encabezado  {
        font-size: 18px;
        font-weight: bold;
    }
   
   
}