.cardtxt {
    background-color: #999b84;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
    
    p {
        color: #fff;
        padding-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .encabezado {
        font-size: 18px;
        font-weight: bold;
    }
    .txt {
        font-size: 16px;
        font-style: italic;
        
    }
   
}