    .ballAccessTimeIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff00ff;
        border-radius: 50%;
        width: 3.25rem;
        height: 3.25rem;
        text-align: center;
        margin: 0.3rem;
    }

    .ballBrightness5OutlinedIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #008000;
        border-radius: 50%;
        width: 3.25rem;
        height: 3.25rem;
        text-align: center;
        margin: 0.3rem;
    }

    .ballTaskAltOutlinedIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bfff00;
        border-radius: 50%;
        width: 3.25rem;
        height: 3.25rem;
        text-align: center;
        margin: 0.3rem;
    }

    .ballPhoneEnabledOutlinedIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #008000;
        border-radius: 50%;
        width: 3.25rem;
        height: 3.25rem;
        text-align: center;
        margin: 0.3rem;
    }