.form-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 340px;
  align-items: center;
}
.form {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.formbtn-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formdiv {
  margin-bottom: 10px;

  &-input {
    width: 300px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
    background-color: #fff;
    padding-left: 12px;
    border: none;
    margin-right: 16px;
  }
  ::placeholder {
    font-family: 'Krona One', sans-serif;
    font-weight: lighter;
  }
}
.formbtn-btn {
  outline: none !important;
  border-radius: 8px;
  background-color: black;
  color: white;
  height: 34px;
  border: none;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
  margin-bottom: 30px;
}
.error {
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.card-container {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 22% 22% 22%;
  justify-items: stretch;
  justify-content: right;
  margin-right: 241px;
}
div[role="main"] {
  overflow-y: scroll;
  height: 100%;
}
