//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-weight: inherit; 
  font-family: 'Montserrat', sans-serif;
}

article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, header, section {
  display: block; 
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}


ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none; 
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
	content: none;
  }

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

img {
  border: none; 
}

section {
  width: 100%;
  padding: 0;
  margin: 0; 
}
input {
  background-color: transparent;
  
  outline: none;
  background: none; 
  display: inline-block;
}
a {
  
  text-decoration: none;
 
}

strong, b {
  font-weight: bold !important;
}

i {
  font-style: italic !important;
}
button {
  border:none;
  outline: none;
  border-radius: 6px;
  
}



// Colours

/* HXD */
$black: #101010;
$red: #bf0811;
$blue: #34404f;

$neutro1:#3333;
$neutro2:#898686;
$neutro3:#D7D2D2;
$white: '#fff';
$primario:#b67162;
$secundario:#9e9d89;


/* FEATURES*/

$bordergreen:38px;
$borderpink:50px;

/* DIMENSIONS */
$footer: 60px;
$margs: 20px;

// animations
$defaultLinear: all 0.15s linear;
$transitionEase: all 0.5s ease;

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

// BREAKPOINTS
@mixin for-size($size) {
  @if $size == phone {                                                // phone-only
    @media (max-width: 690px) { @content; }
  } @else if $size == no-phone {                                      // tablet-portrait-up
    @media (min-width: 691px) { @content; }
  } @else if $size == tablet-portrait-up {                            // tablet-portrait-up
    @media (max-width: 750px) { @content; }
  } @else if $size == tablet-portait-only {                           // tablet-portait-only
    @media (min-width: 600px) and (max-width: 899px) { @content; } 
  } @else if $size == tablet {                                        // tablet-landscape-up
    @media (max-width: 1000px) { @content; }
  } @else if $size == tablet-landscape-only {                         // tablet-landscape-only
    @media (min-width: 900px) and (max-width: 1269px) { @content; } 
  } @else if $size == desktop-up {                                    // desktop-up
    @media (max-width: 1200px) { @content; }
  } @else if $size == desktop-only {                                  // desktop-only
    @media (min-width: 1200px) and (max-width: 1799px) { @content; } 
  } @else if $size == big-desktop-up {                                // big-desktop-up
    @media (max-width: 1500px) { @content; }
  } @else if $size == desktop-min {                                   // big-desktop-special-minsize 
    @media (max-width: 1100px) { @content; }
  } @else if $size == desktop {                                       // big-desktop-special-changesize
    @media (max-width: 1275px) { @content; }
  } @else if $size == skin {                                          // skin (for values of css sponsors)
    @media (min-width: 1000px) { @content; }
  } @else if $size == small-vertical-screen {                         // small vertical screen
    @media (max-height: 670px) { @content; }
  }
}